<div data-role="toolbar">
    <div class="row">
        <div class="col-xs-6">

            <div data-selector="donor"></div>

        </div>
        <div class="col-xs-6">
            <div data-selector="delivery"></div>
        </div>
    </div>

    <button data-role="toolbar-btn" class="btn btn-default pull-right" type="button">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </button>

</div>

<div>
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>
    <h1>Hi i'm the blank tab: {{ id }}</h1>
</div>