<div data-role="toolbar">

<!--    <button data-role="toolbar-btn" class="btn btn-default pull-right" type="button">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </button>-->

</div>

<div>
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>

    CHART
	<div id="chart_{{id}}"></div>
</div>