<div data-role="download">

    <div class="row">
        <div class="jumbotron">
            <h1>
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
            </h1>
            <p>Select format:</p>
            <p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">CSV</button>
                <button type="button" class="btn btn-default">JSON</button>
                <button type="button" class="btn btn-default">ZIP</button>
            </div>

            </p>
        </div>
    </div>

</div>