<div data-role="filter"></div>



{{#unless hideFooterButtons}}
    <div class="row">
        <div class="col-xs-12">
            <button type="button" data-role="submit" class="btn btn-default" disabled>{{submit_button}}</button>
            <button type="button" data-role="reset" class="btn btn-default" disabled>{{reset_button}}</button>
        </div>
    </div>
{{/unless}}