<div data-role="toolbar" style="max-height:120px;padding-left:80px"></div>

<div>
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>

	<div id="map_{{id}}"></div>
</div>