<button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>
<div data-role="toolbar" class="col-md-6">
    <button data-role="filter-btn" class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </button>
</div>

<div class="tab-item-content-wrapper">
    <!--<button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>-->
    <div id="map_{{id}}" class="tab-item-content"></div>
</div>