<button data-action="toolbar" class="btn btn-floating btn-fx-toolbar" type="button" data-toggle="tooltip" data-placement="bottom" title="{{tooltip_toolbar_button}}"><span class="icojam_options2"></span></button>
<button data-role="filter-btn" class="btn btn-floating btn-fx-toolbar-confirm" type="button"><span class="icojam_check"></span></button>

<div data-role="toolbar" class="col-md-6"></div>

<div class="tab-item-content-wrapper">
    <!--<button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>-->
    <div id="map_{{id}}" class="tab-item-content"></div>
</div>