<div data-role="toolbar" class="col-md-6">
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>
</div>

<div>
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>

	<div id="map_{{id}}"></div>
</div>