<div data-role="toolbar">

    <button data-role="toolbar-btn" class="btn btn-default pull-right" type="button">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </button>

</div>

<div>
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>
    <h1>Hi i'm the table tab: {{ id }}</h1>
</div>