<div data-role="toolbar">

    <button data-role="toolbar-btn" class="btn btn-default pull-right" type="button">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </button>

</div>

<div>
    <button data-action="toolbar" class="btn btn-default" type="button">toolbar</button>

    <div class="alert alert-danger" role="alert"> <h1>Hi i'm the table tab: {{ id }}</h1></div>
    <hr>
	<div id="table_{{id}}">TEST OLAP CONTAINER</div>
</div>