<div class="fx-box" data-status="{{ default_status }}" data-size="{{ default_size }}">

    <div data-content="ready" data-tab="{{ default_tab }}">


        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <!-- front content -->
                    <div class="front-toolbar">

                        <div class="pull-left">
                            <div data-role="right-menu" class="dropdown">
                                <a href="" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                </a>

                            </div>
                        </div>

                        <div class="pull-right">
                            <button data-action="metadata" class="btn btn-default" type="button">metadata</button>
                            <button data-action="remove" class="btn btn-default" type="button">remove</button>
                            <button data-action="resize" data-size="2" class="btn btn-default" type="button">resize</button>
                            <button data-action="clone" class="btn btn-default" type="button">clone</button>
                            <button data-action="flip" class="btn btn-default" type="button">flip</button>
                        </div>
                    </div>

                    <strong>Hi! {{ id }}</strong>

                    <div data-section="chart">
                        <h4>Chart</h4>
                    </div>
                    <div data-section="map">
                        <h4>Map</h4>
                    </div>
                    <div data-section="table">
                        <h4>Table</h4>
                    </div>
                    <div data-section="blank">
                        <h4>Blank</h4>
                    </div>

                </div>
                <div class="back">
                    <!-- back content -->
                    <button data-action="flip" class="btn btn-default pull-right" type="button">flip</button>
                    this is the back
                </div>
            </div>
        </div>

    </div>

    <div data-content="error">
        Error
    </div>

    <div data-content="loading">
        <span class="loading loading-48"></span>
    </div>

    <div data-content="empty">
        Empty
    </div>

</div>