<div class="fx-box" data-status=" {{ default_status }}">


    <div data-content="ready">

        <strong>Hi! {{ id }}</strong>

        <button data-action="metadata">metadata</button>
        <button data-action="remove">remove</button>
        <button data-action="resize">resize</button>
        <button data-action="clone">clone</button>
        <button data-action="flip">flip</button>


    </div>

    <div data-content="error">

    </div>

    <div data-content="loading">
        <span class="loading loading-48"></span>
    </div>

    <div data-content="empty">

    </div>

</div>