.fx-box {

  [data-content] {
    display: none;
  }

  //show only the status only correspondent tab content
  $statuses: "ready" "error" "loading" "empty";

  @each $status in $statuses {

    &[data-status="#{$status}"] {

      [data-content="#{$status}"] {
        display: block;

      }
    }
  }

  [data-content="ready"] {

    [data-section] {
      display: none;
    }
    //show only the selected tab
    $sections: "chart" "table" "map" "blank";

    @each $sec in $sections {

      &[data-tab="#{$sec}"] {

        [data-section="#{$sec}"] {
          display: block;

        }
      }
    }
  }
}