<li data-role="step-filter" class="step-container" data-tab="{{ id }}">
    <span class="step-icon fx-background-color-primary-color icojam_filter"></span>
    <h6 class="truncate step-title">{{ labels.title }}</h6>
</li>