<li data-role="step-metadata" class="step-container" data-tab="{{ id }}"
    data-resourceRepresentationType="{{ metadata.meContent.resourceRepresentationType}}">
    <span class="step-icon icojam_box"></span>
    <h6 class="truncate step-title">{{ labels.title }}</h6>
</li>